.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #eef8ff 0%, #bebebe 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  min-height: 4vh;
  min-width: 6vw;
  background: rgb(67, 154, 253);
  border: none;
  padding: 10px 20 px;
  color: white;
}
.movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
